.create-shop-container {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input,
select {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid darkgray;
}
select {
  background-color: white;
}
button {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid darkgray;
  cursor: pointer;
  font-weight: bold;
}
.error {
  color: red;
  font-size: 12px;
}
label {
  color: gray;
}
.action-btn {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.action-btn > button {
  width: 10%;
}
.cancel-btn {
  background-color: red;
  color: white;
  border: none;
}
.lg-hidden {
  display: none;
}
.badge {
  background-color: #2a6e2f;
  width: fit-content;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.red-badge {
  background-color: red;
  width: fit-content;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .sm-hidden {
    display: none;
  }
  .sm-block {
    display: block;
  }
}
